@import "variables";

html, body {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  min-width: 375px;
}

.container {
  max-width: $container-width;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

.input {
  padding: 17px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $secondary-color;
  border: 2px solid #2A592E;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;

  &::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #A8ABA7;
  }

  &:focus {
    outline: 3px solid rgba(182, 213, 185, 0.5);
  }
}

.button {
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  background: #456F49;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  transition: .3s linear;

  &.button-transparent {
    color: $primary-color;
    background: transparent;
    border: 1px solid #6CAC72;
    border-radius: 5px;
  }

  &.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-left: 16px;
    }
  }

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }

  &.button-in-cart span {
    &:first-child {
      display: block;
    }
    &:last-child {
      display: none;
    }
  }

  &:hover {
    background: $button-hover;
    transition: .3s linear;

    &.button-in-cart span {
      &:first-child {
        display: none;
      }
      &:last-child {
        display: block;
      }
    }
  }
}

a.button {
  text-decoration: none;
  display: inline-block;
}

.mat-menu-item {
  font-family: 'Montserrat', sans-serif;

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}
